In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
course = input("Enter your course: ")

print("Name: ",name)
print("Age: ",age)
print("Course: ",course)

In [4]:
def display_details(name,age,course):
    return f"I am {name}. I am {age} years old. I am pursuing {course}"

print(display_details("Susan",19,"IT"))

I am Susan. I am 19 years old. I am pursuing IT

In [6]:
try:
    y = "apple" + 10
except TypeError:
    print("Cannot add integer with string data type.")

Cannot add integer with string data type.

In [4]:
class Human:
    def __init__(self):
        pass

    def display(self):
        print("A human has 6 senses")
        print("A human has the ability to think and do anything")

h = Human()
h.display()

A human has 6 senses
A human has the ability to think and do anything

In [9]:
class Car:
    def __init__(self,brandName,model,fuelType,price):
        self.brandName = brandName
        self.model = model
        self.fuelType = fuelType
        self.price = price
        
    def displayCarDetails(self):
        print (f"My newly bought car's name is {self.brandName} and it's model is {self.model}. It's fuel type is {self.fuelType}. It's price is Rs.{self.price}")

c = Car("BMW","7 Series","Petrol and Diesel",4900000)
c.displayCarDetails()

My newly bought car's name is BMW and it's model is 7 Series. It's fuel type is Petrol and Diesel. It's price is Rs.4900000

In [14]:
fruits = ["apple","mango","pomegranate","papaya"]
vegetables = ("onion","potato","bell pepper","beetroot")
car = {"name" : "BMW", "series" : 7, "fueltype" : "petrol"}
student = {"ram","vignesh","raja","ram","subu"}

print("Before operations: ")
print(fruits)
print(vegetables)
print(car)
print(student)

print("\nAfter some operations: \n")

fruits.append("fig")

try:
    vegetables.append("carrot")
except AttributeError:
    print("Cannot add elements to a tuple")

car["price"] = 4900000

student.insert("dinesh")

print(fruits)
print(vegetables)
print(car)
print(student)

Before operations:
['apple', 'mango', 'pomegranate', 'papaya']
('onion', 'potato', 'bell pepper', 'beetroot')
{'name': 'BMW', 'series': 7, 'fueltype': 'petrol'}
{'raja', 'subu', 'vignesh', 'ram'}

After some operations:

Cannot add elements to a tuple

AttributeError: 'set' object has no attribute 'insert'